<h1>Registrera dig</h1>
<form method="POST">
    Namn: <input name="name" required><br>
    E-post: <input name="email" type="email" required><br>
    Lösenord: <input name="password" type="password" required><br>
    <button>Registrera</button>
</form>